# These are initial specs and may change later. So, skipping them in git for now.
docs/plans/initial-idea.md

# Used for CLAUDE brainstorming and notes.
hackathon-guidelines.md

# Data
data/

# Venv
.venv

# Python
__pycache__/
*.pyc

# Backend SQLite Databses
*.db

# Git worktrees
.worktrees/


# MacOS files
.DS_Store

# Claude local settings
.claude/settings.local.json

# Outputs
/output

# Python
__pycache__/
*.pyc
