# These are initial specs and may change later. So, skipping them in git for now.
docs/plans/initial-idea.md

# Used for CLAUDE brainstorming and notes.
hackathon-guidelines.md

# Data
data/

# Python
__pycache__/
*.pyc
